@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* Menu de navegação */
nav{
    list-style: none;
    background-color: rgb(0, 0, 0);
    font-family: "Victor Mono", monospace;
}

nav li{
    display: inline; 
}

nav li a{
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px;
}

nav li a:hover{
    background-color: white;
    color: black;
    transition: 0.4s;
}

nav ul li:last-child a {
    float: right;
    background-color: white;
    color: black;
}

ul li ul.dropdown {
    width: 100%;
    position: absolute;
    display: none;
}

ul li a:hover {
    background: white;
}

ul li:hover ul.dropdown {
    display: block;
}


/* Conteudo principal */
main {
    background-color: #734E20;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fafafa;
    border-radius: 14px;
    margin: 14px;
    max-width: 600px;
    width: 100%;
    box-sizing: 0 3px 5px ;
}

.header {
    background-color: #D99441;
    padding: 24px;
    text-align: center;
    color: black;
    border-radius: 14px 14px 0px 0px;
}

form {
    padding: 18px;
}

.form-content {
    margin-bottom: 8px;
    padding-bottom: 18px;
    position: relative; 
}

.form-content label{
    display: inline-block;
    margin-bottom: 4px;
}

.form-content input{
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #dfdfdf;
}

.form-content a{
    position: absolute;
    bottom: -8px;
    left: 0px;
}

.form-content select{
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #dfdfdf;
}

.form-content input{
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #dfdfdf;
}

.form button {
    background-color: #D99441;
    width: 100%;
    border-radius: 14px;
    padding: 10px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    margin-top: 14px;
}

.input-group {
    position: relative;
    display: flex;
    align-items: center;
}
.input-group .input-group-addon {
    margin-right: 10px;
}